.pos-top-left { top: 15%; left: 39.5%; }
.pos-top-center { top: 16%; left: 32%; }
.pos-top-right { top: 29%; left: 30%; }
        
.pos-bottom-left { bottom: 10%; right: 36%; }
.pos-bottom-center { bottom: 16%; right: 32%; }
.pos-bottom-right { bottom: 29%; right: 30%; }